@{
    ViewData["Title"] = "Neden Böyle Bir Site Var? - Seyitname";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card card-custom shadow-lg">
                <div class="card-header bg-dark text-light">
                    <h3 class="mb-0 gradient-text">Neden Böyle Bir Site Var?</h3>
                </div>
                <div class="card-body">
                    <p class="text-light">Cevap basit <span class="font-weight-bold">NEDEN OLMASIN?</span></p> 
                    <p>Konumuza gelirsek tüm bunların cevabı bu siti github da yayınladım <a href="https://github.com/Seyitname/SeyitnameWebSite" target="_blank">Hatta burada</a>Buradan ReadMe ye ulaşarak ayrıntılı bilgilere erişebilirsiniz.</p>
                    <p>Ben özet geçeyim sitenin %90 lık kısmını yapy zeka yaptı çünkü ben olsun istiyorum ama nasıl yapacağımı bilmiyorum ve kolay yoldan devam ediyorum :) ama burda asıl hedefim yapay zekanın yaptıklarını kullanarak kendimi geliştirmek.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>